<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" >
    <Appenders>
        <!-- 终端输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss} %level] [%t]: %msg%n" charset="GBK"/>
        </Console>
        <!-- 滚动文件输出 -->
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy.MM.dd}-%i.log.gz" immediateFlush="true" bufferedIO="false">
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss}] [%t/%level]: %msg%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL" />
            </filters>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console" level="info"/>
        </Root>
    </Loggers>
</Configuration>
